In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [21]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [8]:
df_movies = pd.read_csv("/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv")
df_credits  = pd.read_csv("/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv")

In [9]:
df_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
df_movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [15]:
df_movies['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: overview, Length: 4803, dtype: object

In [23]:
tfidf = TfidfVectorizer(stop_words="english")
df_movies['overview'] = df_movies['overview'].fillna("")
tfidf_matrix = tfidf.fit_transform(df_movies['overview'])

In [24]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [30]:
indices = pd.Series(df_movies.index, index=df_movies['original_title']).drop_duplicates()
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [31]:
indices['The Dark Knight Rises']

3

In [34]:
def get_recommendations(title, cosine_sim = cosine_sim):
    print(title)
get_recommendations('The Dark Knight Rises')

The Dark Knight Rises

In [56]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
   
    sim_index = [i[0] for i in sim_scores]  
    
    print(df_movies['original_title'].iloc[sim_index])

In [57]:
get_recommendations('The Dark Knight Rises')

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: original_title, dtype: object

In [58]:
get_recommendations('The Matrix')

1281                  Hackers
2996                 Commando
2088                    Pulse
1341         Obitaemyy Ostrov
333             Transcendence
0                      Avatar
261     Live Free or Die Hard
775                 Supernova
125       The Matrix Reloaded
2614          The Love Letter
Name: original_title, dtype: object

In [59]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    for i in sim_scores:
        print(i)
    sim_index = [i[0] for i in sim_scores]  # Fix this line
    print(sim_index)
    print(df_movies['original_title'].iloc[sim_index])  # Fix this line

get_recommendations('The Dark Knight Rises')

(65, 0.30151176591665485)
(299, 0.29857045255396825)
(428, 0.2878505467001694)
(1359, 0.264460923827995)
(3854, 0.18545003006561456)
(119, 0.16799626199850706)
(2507, 0.16682891043358278)
(9, 0.1337400906655523)
(1181, 0.13219702138476813)
(210, 0.13045537014449818)
[65, 299, 428, 1359, 3854, 119, 2507, 9, 1181, 210]
65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: original_title, dtype: object

In [62]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    
    sim_index = [i[0] for i in sim_scores]
    recommended_movies = df_movies.iloc[sim_index][['original_title', 'release_date', 'vote_average','vote_count']]
    
    return recommended_movies

recommended_movies = get_recommendations('The Dark Knight Rises')
print(recommended_movies)

                               original_title release_date  vote_average  \
65                            The Dark Knight   2008-07-16           8.2
299                            Batman Forever   1995-05-31           5.2
428                            Batman Returns   1992-06-19           6.6
1359                                   Batman   1989-06-23           7.0
3854  Batman: The Dark Knight Returns, Part 2   2013-01-18           7.9
119                             Batman Begins   2005-06-10           7.5
2507                                Slow Burn   2005-09-12           5.5
9          Batman v Superman: Dawn of Justice   2016-03-23           5.7
1181                                      JFK   1991-12-20           7.5
210                            Batman & Robin   1997-06-20           4.2

      vote_count
65         12002
299         1498
428         1673
1359        2096
3854         419
119         7359
2507          16
9           7004
1181         502
210         1418

In [66]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    
    sim_index = [i[0] for i in sim_scores]
    recommended_movies = df_movies.iloc[sim_index]
    
    return recommended_movies

recommended_movies = get_recommendations('Avatar')
print(recommended_movies)

         budget                                             genres  \
3604    5000000  [{"id": 27, "name": "Horror"}, {"id": 53, "nam...
2130   20000000  [{"id": 80, "name": "Crime"}, {"id": 18, "name...
634    63000000  [{"id": 28, "name": "Action"}, {"id": 878, "na...
1341   36500000  [{"id": 28, "name": "Action"}, {"id": 14, "nam...
529    70000000  [{"id": 28, "name": "Action"}, {"id": 18, "nam...
1610   30000000  [{"id": 28, "name": "Action"}, {"id": 53, "nam...
311   100000000  [{"id": 28, "name": "Action"}, {"id": 35, "nam...
847           0                     [{"id": 35, "name": "Comedy"}]
775    90000000  [{"id": 27, "name": "Horror"}, {"id": 878, "na...
2628          0  [{"id": 18, "name": "Drama"}, {"id": 14, "name...

                                         homepage     id  \
3604                    http://apollo18movie.net/  50357
2130  http://focusfeatures.com/film/the_american/  27579
634              http://www.warnerbros.com/matrix    603
1341                            http://oostrov.ru  16911
529                                           NaN   9567
1610                    http://hannathemovie.com/  50456
311                                           NaN  11692
847    http://newline.com/properties/semipro.html  13260
775                                           NaN  10384
2628                                          NaN  10075

                                               keywords original_language  \
3604  [{"id": 305, "name": "moon"}, {"id": 1432, "na...                en
2130  [{"id": 549, "name": "prostitute"}, {"id": 119...                en
634   [{"id": 83, "name": "saving the world"}, {"id"...                en
1341  [{"id": 818, "name": "based on novel"}, {"id":...                ru
529   [{"id": 4595, "name": "u.s. army"}, {"id": 758...                en
1610  [{"id": 782, "name": "assassin"}, {"id": 1430,...                en
311   [{"id": 305, "name": "moon"}, {"id": 585, "nam...                en
847   [{"id": 6075, "name": "sport"}, {"id": 6496, "...                en
775   [{"id": 577, "name": "black people"}, {"id": 1...                en
2628  [{"id": 715, "name": "chocolate"}, {"id": 1256...                en

                    original_title  \
3604                     Apollo 18
2130                  The American
634                     The Matrix
1341              Obitaemyy Ostrov
529               Tears of the Sun
1610                         Hanna
311   The Adventures of Pluto Nash
847                       Semi-Pro
775                      Supernova
2628           Blood and Chocolate

                                               overview  popularity  \
3604  Officially, Apollo 17 was the last manned miss...   17.028252
2130  Dispatched to a small Italian town to await fu...   18.632156
634   Set in the 22nd century, The Matrix tells the ...  104.309993
1341  On the threshold of 22nd century, furrowing th...    2.785832
529   Navy SEAL Lieutenant A.K. Waters and his elite...   27.055085
1610  A 16-year-old girl raised by her father to be ...   31.191975
311   The year is 2087, the setting is the moon. Plu...   12.092241
847   Jackie Moon is the owner, promoter, coach, and...   10.449975
775   Set in the 22nd century, when a battered salva...    5.762037
2628  A young teenage werewolf is torn between honor...   12.295216

                                   production_companies  \
3604  [{"name": "Bazelevs Production", "id": 1038}, ...
2130  [{"name": "This Is That Productions", "id": 10...
634   [{"name": "Village Roadshow Pictures", "id": 7...
1341  [{"name": "Art Pictures Studio", "id": 3451}, ...
529   [{"name": "Columbia Pictures", "id": 5}, {"nam...
1610  [{"name": "Focus Features", "id": 10146}, {"na...
311   [{"name": "Village Roadshow Pictures", "id": 7...
847   [{"name": "New Line Cinema", "id": 12}, {"name...
775   [{"name": "United Artists", "id": 60}, {"name"...
2628  [{"name": "Lakeshore Entertainment", "id": 126...

                                   production_countries release_date  \
3604  [{"iso_3166_1": "CA", "name": "Canada"}, {"iso...   2011-07-20
2130  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2010-08-31
634   [{"iso_3166_1": "AU", "name": "Australia"}, {"...   1999-03-30
1341           [{"iso_3166_1": "RU", "name": "Russia"}]   2008-12-18
529   [{"iso_3166_1": "US", "name": "United States o...   2003-03-07
1610  [{"iso_3166_1": "DE", "name": "Germany"}, {"is...   2011-04-07
311   [{"iso_3166_1": "AU", "name": "Australia"}, {"...   2002-08-15
847   [{"iso_3166_1": "US", "name": "United States o...   2008-02-28
775   [{"iso_3166_1": "CH", "name": "Switzerland"}, ...   2000-01-14
2628  [{"iso_3166_1": "RO", "name": "Romania"}, {"is...   2007-01-26

        revenue  runtime                                   spoken_languages  \
3604   25562924     86.0  [{"iso_639_1": "cs", "name": "\u010cesk\u00fd"...
2130   65464324    104.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
634   463517383    136.0           [{"iso_639_1": "en", "name": "English"}]
1341   21834845    115.0  [{"iso_639_1": "ru", "name": "P\u0443\u0441\u0...
529    85632458    121.0           [{"iso_639_1": "en", "name": "English"}]
1610   63782078    111.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
311     7103973     95.0           [{"iso_639_1": "en", "name": "English"}]
847    33472850     91.0           [{"iso_639_1": "en", "name": "English"}]
775    14828081     91.0           [{"iso_639_1": "en", "name": "English"}]
2628          0     98.0  [{"iso_639_1": "en", "name": "English"}, {"iso...

        status                                            tagline  \
3604  Released  There's a reason we've never gone back to the ...
2130  Released                                                NaN
634   Released                         Welcome to the Real World.
1341  Released                                                NaN
529   Released  He was trained to follow orders. He became a h...
1610  Released                                      Adapt or die.
311   Released                     Action's future has arrived...
847   Released                    Putting the funk into the dunk.
775   Released  In the farthest reaches of space, something ha...
2628  Released                    The hunt never tasted so sweet.

                             title  vote_average  vote_count
3604                     Apollo 18           5.0         356
2130                  The American           5.8         481
634                     The Matrix           7.9        8907
1341          The Inhabited Island           5.3          23
529               Tears of the Sun           6.4         573
1610                         Hanna           6.5        1263
311   The Adventures of Pluto Nash           4.4         142
847                       Semi-Pro           5.4         251
775                      Supernova           4.9         109
2628           Blood and Chocolate           5.4          87

In [67]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    
    sim_index = [i[0] for i in sim_scores]
    recommended_movies = df_movies.iloc[sim_index]
    
    recommended_movies_sorted = recommended_movies.sort_values(by='budget')
    
    return recommended_movies_sorted

recommended_movies = get_recommendations('Avatar')
print(recommended_movies)

         budget                                             genres  \
847           0                     [{"id": 35, "name": "Comedy"}]
2628          0  [{"id": 18, "name": "Drama"}, {"id": 14, "name...
3604    5000000  [{"id": 27, "name": "Horror"}, {"id": 53, "nam...
2130   20000000  [{"id": 80, "name": "Crime"}, {"id": 18, "name...
1610   30000000  [{"id": 28, "name": "Action"}, {"id": 53, "nam...
1341   36500000  [{"id": 28, "name": "Action"}, {"id": 14, "nam...
634    63000000  [{"id": 28, "name": "Action"}, {"id": 878, "na...
529    70000000  [{"id": 28, "name": "Action"}, {"id": 18, "nam...
775    90000000  [{"id": 27, "name": "Horror"}, {"id": 878, "na...
311   100000000  [{"id": 28, "name": "Action"}, {"id": 35, "nam...

                                         homepage     id  \
847    http://newline.com/properties/semipro.html  13260
2628                                          NaN  10075
3604                    http://apollo18movie.net/  50357
2130  http://focusfeatures.com/film/the_american/  27579
1610                    http://hannathemovie.com/  50456
1341                            http://oostrov.ru  16911
634              http://www.warnerbros.com/matrix    603
529                                           NaN   9567
775                                           NaN  10384
311                                           NaN  11692

                                               keywords original_language  \
847   [{"id": 6075, "name": "sport"}, {"id": 6496, "...                en
2628  [{"id": 715, "name": "chocolate"}, {"id": 1256...                en
3604  [{"id": 305, "name": "moon"}, {"id": 1432, "na...                en
2130  [{"id": 549, "name": "prostitute"}, {"id": 119...                en
1610  [{"id": 782, "name": "assassin"}, {"id": 1430,...                en
1341  [{"id": 818, "name": "based on novel"}, {"id":...                ru
634   [{"id": 83, "name": "saving the world"}, {"id"...                en
529   [{"id": 4595, "name": "u.s. army"}, {"id": 758...                en
775   [{"id": 577, "name": "black people"}, {"id": 1...                en
311   [{"id": 305, "name": "moon"}, {"id": 585, "nam...                en

                    original_title  \
847                       Semi-Pro
2628           Blood and Chocolate
3604                     Apollo 18
2130                  The American
1610                         Hanna
1341              Obitaemyy Ostrov
634                     The Matrix
529               Tears of the Sun
775                      Supernova
311   The Adventures of Pluto Nash

                                               overview  popularity  \
847   Jackie Moon is the owner, promoter, coach, and...   10.449975
2628  A young teenage werewolf is torn between honor...   12.295216
3604  Officially, Apollo 17 was the last manned miss...   17.028252
2130  Dispatched to a small Italian town to await fu...   18.632156
1610  A 16-year-old girl raised by her father to be ...   31.191975
1341  On the threshold of 22nd century, furrowing th...    2.785832
634   Set in the 22nd century, The Matrix tells the ...  104.309993
529   Navy SEAL Lieutenant A.K. Waters and his elite...   27.055085
775   Set in the 22nd century, when a battered salva...    5.762037
311   The year is 2087, the setting is the moon. Plu...   12.092241

                                   production_companies  \
847   [{"name": "New Line Cinema", "id": 12}, {"name...
2628  [{"name": "Lakeshore Entertainment", "id": 126...
3604  [{"name": "Bazelevs Production", "id": 1038}, ...
2130  [{"name": "This Is That Productions", "id": 10...
1610  [{"name": "Focus Features", "id": 10146}, {"na...
1341  [{"name": "Art Pictures Studio", "id": 3451}, ...
634   [{"name": "Village Roadshow Pictures", "id": 7...
529   [{"name": "Columbia Pictures", "id": 5}, {"nam...
775   [{"name": "United Artists", "id": 60}, {"name"...
311   [{"name": "Village Roadshow Pictures", "id": 7...

                                   production_countries release_date  \
847   [{"iso_3166_1": "US", "name": "United States o...   2008-02-28
2628  [{"iso_3166_1": "RO", "name": "Romania"}, {"is...   2007-01-26
3604  [{"iso_3166_1": "CA", "name": "Canada"}, {"iso...   2011-07-20
2130  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2010-08-31
1610  [{"iso_3166_1": "DE", "name": "Germany"}, {"is...   2011-04-07
1341           [{"iso_3166_1": "RU", "name": "Russia"}]   2008-12-18
634   [{"iso_3166_1": "AU", "name": "Australia"}, {"...   1999-03-30
529   [{"iso_3166_1": "US", "name": "United States o...   2003-03-07
775   [{"iso_3166_1": "CH", "name": "Switzerland"}, ...   2000-01-14
311   [{"iso_3166_1": "AU", "name": "Australia"}, {"...   2002-08-15

        revenue  runtime                                   spoken_languages  \
847    33472850     91.0           [{"iso_639_1": "en", "name": "English"}]
2628          0     98.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
3604   25562924     86.0  [{"iso_639_1": "cs", "name": "\u010cesk\u00fd"...
2130   65464324    104.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1610   63782078    111.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1341   21834845    115.0  [{"iso_639_1": "ru", "name": "P\u0443\u0441\u0...
634   463517383    136.0           [{"iso_639_1": "en", "name": "English"}]
529    85632458    121.0           [{"iso_639_1": "en", "name": "English"}]
775    14828081     91.0           [{"iso_639_1": "en", "name": "English"}]
311     7103973     95.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
847   Released                    Putting the funk into the dunk.
2628  Released                    The hunt never tasted so sweet.
3604  Released  There's a reason we've never gone back to the ...
2130  Released                                                NaN
1610  Released                                      Adapt or die.
1341  Released                                                NaN
634   Released                         Welcome to the Real World.
529   Released  He was trained to follow orders. He became a h...
775   Released  In the farthest reaches of space, something ha...
311   Released                     Action's future has arrived...

                             title  vote_average  vote_count
847                       Semi-Pro           5.4         251
2628           Blood and Chocolate           5.4          87
3604                     Apollo 18           5.0         356
2130                  The American           5.8         481
1610                         Hanna           6.5        1263
1341          The Inhabited Island           5.3          23
634                     The Matrix           7.9        8907
529               Tears of the Sun           6.4         573
775                      Supernova           4.9         109
311   The Adventures of Pluto Nash           4.4         142

In [68]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    
    sim_index = [i[0] for i in sim_scores]
    recommended_movies = df_movies.iloc[sim_index]
    
    recommended_movies_sorted = recommended_movies.sort_values(by='budget')
    
    selected_columns = ['budget', 'original_title', 'release_date', 'vote_average']
    recommended_movies_filtered = recommended_movies_sorted[selected_columns]
    
    return recommended_movies_filtered

recommended_movies = get_recommendations('The Dark Knight Rises')
print(recommended_movies)

         budget                           original_title release_date  \
3854    3500000  Batman: The Dark Knight Returns, Part 2   2013-01-18
2507   15500000                                Slow Burn   2005-09-12
1359   35000000                                   Batman   1989-06-23
1181   40000000                                      JFK   1991-12-20
428    80000000                           Batman Returns   1992-06-19
299   100000000                           Batman Forever   1995-05-31
210   125000000                           Batman & Robin   1997-06-20
119   150000000                            Batman Begins   2005-06-10
65    185000000                          The Dark Knight   2008-07-16
9     250000000       Batman v Superman: Dawn of Justice   2016-03-23

      vote_average
3854           7.9
2507           5.5
1359           7.0
1181           7.5
428            6.6
299            5.2
210            4.2
119            7.5
65             8.2
9              5.7

In [71]:
df_credits.tail()

,movie_id,title,cast,crew
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."